


.main{
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


@media screen and (max-width: 600px) {
  .main{
    
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  }
}
  




